body {
    font-family: helvetica;
}

ul {
    font-family: monospace;
}

li {
    list-style: circle;
}

.list {
    list-style: circle;
}

#date {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

div {
    width: 300px;
    margin: left;
    border: 1px solid pink;
}
