body,
html,
main 
{
    font-family: helvetica;
    height: 100%;
}

ul {
    font-family: monospace;
}

li {
    list-style: circle;
}

.list {
    list-style: circle;
}

#date {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

div {
    width: 300px;
    margin: left;
    border: 1px solid pink;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }